body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2 {
  margin: 0;
}

p, ul {
  margin: 0;
  line-height: 1.5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #25567B;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  background-color: #f3f3f3;
  color: #25567B;
}

.main {
  padding: 30px 40px;
  background-color: #f3f3f3;
}

.part {
  padding-top: 30px;
}

.h1-text, .h2-text {
  font-family: 'Lora', serif;
}

.h1-text {
  text-align: center;
}

.h2-text {
  margin-left: 5px;
  padding-bottom: 3px;
  display: inline;
}

.h2-text-wrap {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #25567B;
}

.photo-frame {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.myphoto {
  width: 330px;
  -webkit-transform: translate(-5px, -15px);
      -ms-transform: translate(-5px, -15px);
          transform: translate(-5px, -15px);
}

 .footer {
  background-color: #25567B;
  padding: 20px 30px;
  color: #fff;
  text-align: center;
 }

 .footer a {
  color: #fff;
  display: inline-block;
  width: 90px;
 }

 .footer a:hover {
  font-weight: bold;
 }

 .cont {
  padding: 15px 0;
  border: 1px solid #000;
 }

 .sq {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: 1px solid #000;
 }

 .sq:nth-of-type(n+7) {
  background-color: yellow;
 }
